{% extends "frontend/layout/master.html" %}
{% block content %}

    <!-- ================================
    START HERO-WRAPPER AREA
================================= -->
    {% include "frontend/home/components/hero-wrapper.html" %}
    <!-- end hero-wrapper -->
    <!-- ================================
    END HERO-WRAPPER AREA
================================= -->

    <!-- ================================
    START INFO AREA
================================= -->
   {% include "frontend/home/components/info-area.html" %}
    <!-- end info-area -->
    <!-- ================================
    END INFO AREA
================================= -->

    <div class="section-block"></div>

    <!-- ================================
    START ROOM TYPE AREA
================================= -->
   {% include "frontend/home/components/room-type.html" %}
    <!-- ================================
    END ROOM TYPE AREA
================================= -->

    <!-- ================================
    START HOTEL AREA
================================= -->
   {% include "frontend/home/components/top-hotels.html" %}
    <!-- end hotel-area -->
    <!-- ================================
    END HOTEL AREA
================================= -->

    <!-- ================================
    START DISCOUNT AREA
================================= -->
   {% include "frontend/home/components/discount-area.html" %}
    <!-- end discount-area -->
    <!-- ================================
    END DISCOUNT AREA
================================= -->

    <!-- ================================
       START TESTIMONIAL AREA
================================= -->
   {% include "frontend/home/components/testimonial.html" %}
    <!-- end testimonial-area -->
    <!-- ================================
       START TESTIMONIAL AREA
================================= -->

    <div class="section-block"></div>

    <!-- ================================
       START BLOG AREA
================================= -->
    {% include "frontend/home/components/blog-area.html" %}
    <!-- end blog-area -->
    <!-- ================================
       START BLOG AREA
================================= -->

    <!-- ================================
    START CTA AREA
================================= -->
   {% include "frontend/home/components/subscribe-area.html" %}
    <!-- end cta-area -->
    <!-- ================================
    END CTA AREA
================================= -->



{% endblock content %}