{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    <script>
    function showExtensionPopup(url) {
        const popup = window.open(
            url,
            "extensionPopup",
            "width=600,height=400,resizable=yes,scrollbars=yes"
        );
        return false;
    }
    </script>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    
    <div class="submit-row mt-2">
        {% if original %}
            <a href="{% url 'admin:booking-extend' original.pk %}" 
              class="btn btn-success form-control"
               onclick="return showExtensionPopup(this.href);"
               >
                تمديد الحجز
            </a>
        {% endif %}
    </div>
{% endblock %}