<div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'HotelManagement:hotel_create' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name">Hotel Name</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                      <label for="location">Hotel Location</label>
                      <select name="location" class="form-control" id="location" required>
                          <option value="">Select a Location</option>
                          {% for location in locations %}
                              <option value="{{ location.id }}">{{ location.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                    <div class="mb-3">
                        <label for="email">Hotel Email</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="description">Hotel Description</label>
                        <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="is_verified">Hotel Status</label>
                        <select name="is_verified" class="form-control" id="is_verified">
                            <option value="true">Verified</option>
                            <option value="false">Not Verified</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="verification_date">Hotel Date</label>
                        <input type="date" name="verification_date" class="form-control" id="verification_date">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Save</button>
                </form>
            </div>
        </div>
    </div>
  </div>
  