<div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Hotel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="editform" action="{% url 'HotelManagement:hotel_update' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="edit_name">Hotel Name</label>
                        <input type="text" name="name" class="form-control" id="edit-hotel-name-input" required>
                        <input type="hidden" name="hotel_id" class="form-control" id="edit-hotel-id-input" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_location">Hotel Location</label>
                        <select name="location" class="form-control" id="edit-hotel-location-input" id="edit_location" required>
                            <option value="">Select a Location</option>
                            {% for location in locations %}
                                <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_email">Hotel Email</label>
                        <input type="email" name="email" class="form-control" id="edit-hotel-email-input" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_description">Hotel Description</label>
                        <textarea name="description" class="form-control" id="edit-hotel-description-input" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="edit_is_verified">Hotel Status</label>
                        <select name="is_verified" class="form-control" id="edit-hotel-is_verified-input">
                            <option value="true">Verified</option>
                            <option value="false">Not Verified</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_verification_date">Hotel Date</label>
                        <input type="date" name="verification_date" id="edit-hotel-date-input"  class="form-control" id="edit_verification_date">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
