{% load static %}
<section class="blog-area section--padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">
            <h2 class="sec__title">المقالات الأخيرة</h2>
          </div>
          <!-- end section-heading -->
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
      <div class="row padding-top-50px">
        <div class="col-lg-4 responsive-column">
          <div class="card-item blog-card">
            <div class="card-img">
              <img src="{% static 'images/img5.jpg' %}" alt="blog-img" />
              <div class="post-format icon-element">
                <i class="la la-photo"></i>
              </div>
              <div class="card-body">
                <div class="post-categories">
                  <a href="#" class="badge">السفر</a>
                  <a href="#" class="badge">أسلوب الحياة</a>
                </div>
                <h3 class="card-title line-height-26">
                  <a href="blog-single.html"
                    >أفضل أماكن الإقامة الاسكندنافية - عالج نفسك</a
                  >
                </h3>
                <p class="card-meta">
                  <span class="post__date">1 يناير 2020 </span>
                  <span class="post-dot"></span>
                  <span class="post__time">5 دقائق للقراءة</span>
                </p>
              </div>
            </div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <div class="author-content d-flex align-items-center">
                <div class="author-img">
                  <img src="{% static 'images/small-team1.jpg' %}" alt="testimonial image" />
                </div>
                <div class="author-bio">
                  <a href="#" class="author__title">ليروي بيل</a>
                </div>
              </div>
              <div class="post-share">
                <ul>
                  <li>
                    <i class="la la-share icon-element"></i>
                    <ul class="post-share-dropdown d-flex align-items-center">
                      <li>
                        <a href="#"><i class="lab la-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="lab la-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="lab la-instagram"></i></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end card-item -->
        </div>
        <!-- end col-lg-4 -->
        <div class="col-lg-4 responsive-column">
          <div class="card-item blog-card">
            <div class="card-img">
              <img src="{% static 'images/img6.jpg' %}" alt="blog-img" />
              <div class="post-format icon-element">
                <i class="la la-play"></i>
              </div>
              <div class="card-body">
                <div class="post-categories">
                  <a href="#" class="badge">فيديو</a>
                </div>
                <h3 class="card-title line-height-26">
                  <a href="blog-single.html">أماكن مذهلة للبقاء في النرويج</a>
                </h3>
                <p class="card-meta">
                  <span class="post__date">1 فبراير 2020 </span>
                  <span class="post-dot"></span>
                  <span class="post__time">4 دقائق للقراءة</span>
                </p>
              </div>
            </div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <div class="author-content d-flex align-items-center">
                <div class="author-img">
                  <img src="{% static 'images/small-team2.jpg' %}" alt="testimonial image" />
                </div>
                <div class="author-bio">
                  <a href="#" class="author__title">فيليب هانت</a>
                </div>
              </div>
              <div class="post-share">
                <ul>
                  <li>
                    <i class="la la-share icon-element"></i>
                    <ul class="post-share-dropdown d-flex align-items-center">
                      <li>
                        <a href="#"><i class="lab la-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="lab la-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="lab la-instagram"></i></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end card-item -->
        </div>
        <!-- end col-lg-4 -->
        <div class="col-lg-4 responsive-column">
          <div class="card-item blog-card">
            <div class="card-img">
              <img src="{% static 'images/img7.jpg' %}" alt="blog-img" />
              <div class="post-format icon-element">
                <i class="la la-music"></i>
              </div>
              <div class="card-body">
                <div class="post-categories">
                  <a href="#" class="badge">سمعي</a>
                </div>
                <h3 class="card-title line-height-26">
                  <a href="blog-single.html"
                    >تشعر وكأنك في المنزل في رحلة عملك</a
                  >
                </h3>
                <p class="card-meta">
                  <span class="post__date">1 مارس 2020</span>
                  <span class="post-dot"></span>
                  <span class="post__time">3 دقائق للقراءة</span>
                </p>
              </div>
            </div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <div class="author-content d-flex align-items-center">
                <div class="author-img">
                  <img src="{% static 'images/small-team3.jpg' %}" alt="testimonial image" />
                </div>
                <div class="author-bio">
                  <a href="#" class="author__title">لوك جاكوبس</a>
                </div>
              </div>
              <div class="post-share">
                <ul>
                  <li>
                    <i class="la la-share icon-element"></i>
                    <ul class="post-share-dropdown d-flex align-items-center">
                      <li>
                        <a href="#"><i class="lab la-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="lab la-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="lab la-instagram"></i></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end card-item -->
        </div>
        <!-- end col-lg-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>