{% load static %}

<section class="discount-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="discount-box">
            <div class="discount-img">
              <img src="{% static 'images/discount-hotel-img.jpg' %}" alt="discount img" />
            </div>
            <!-- end discount-img -->
            <div class="discount-content">
              <div class="section-heading">
                <p class="sec__desc text-white">صفقة ساخنة ، وفر 50٪</p>
                <h2 class="sec__title mb-0 line-height-50 text-white">
                  خصم 50٪ على <br />
                  الحجز الأول
                </h2>
              </div>
              <!-- end section-heading -->
              <div class="btn-box pt-4">
                <a href="#" class="theme-btn border-0"
                  >أعرف أكثر <i class="la la-arrow-left ms-1"></i
                ></a>
              </div>
            </div>
            <!-- end discount-content -->
            <div class="company-logo">
              <img src="{% static 'images/logo2.png' %}" alt="" />
              <p class="text-white font-size-14 text-end">* تطبق الشروط</p>
            </div>
            <!-- end company-logo -->
          </div>
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>