{% load static %}
{% if heroSlider %}

<section class="hero-wrapper hero-wrapper2">
  <div class="hero-box pb-0">
    <div id="fullscreen-slide-contain">
      <ul class="slides-container">
        <li><img src="{{heroSlider.image1.url}}" alt="" /></li>
        <li><img src="{{heroSlider.image2.url}}" alt="" /></li>
        <li><img src="{{heroSlider.image3.url}}" alt="" /></li>
      </ul>
    </div>
    <!-- End background slider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-content pb-5">
            <div class="section-heading">
              <p class="sec__desc pb-2">{{heroSlider.title}}</p>
              <h2 class="sec__title">
                {{heroSlider.description}}
              </h2>
            </div>
          </div>
          <!-- end hero-content -->
          <div class="search-fields-container">
            <div class="contact-form-action">
              <form action="{% url 'HotelManagement:hotel_search' %}" method="get" class="row">
                <div class="col-lg-3 pe-0">
                  <div class="input-box">
                    <label class="label-text">الوجهة / اسم الفندق</label>
                    <div class="form-group">
                      <span class="la la-map-marker form-icon"></span>
                      <input class="form-control" type="text" name="hotel_name" placeholder="Enter City or property" />
                    </div>
                  </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="col-lg-3 pe-0">
                  <div class="input-box">
                    <label class="label-text">تواريخ الدخول والخروج</label>
                    <div class="form-group d-flex">
                      <span class="la la-calendar form-icon"></span>
                      <input class="date-picker-multiple form-control" type="text" name="check_date" placeholder="تاريخ الدخول" readonly />
                    </div>
                  </div>
                </div>
                
                <!-- end col-lg-3 -->

                {% if categories.count > 0 %}
                <div class="col-lg-3 pe-0">
                  <div class="input-box">
                    <label class="label-text">نوع الغرفة</label>
                    <div class="form-group">
                      <select class="select-contain-select" name="category_type">
                        <option value="">اختر صنف</option>
                        {% for categories in categories %}
                        <option value="{{ categories.id }}">{{ categories.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                {% endif %}
                <!-- end col-lg-3 -->

                <div class="col-lg-3">
                  <div class="input-box">
                    <label class="label-text">ضيوف</label>
                    <div class="form-group">
                      <div class="dropdown dropdown-contain gty-container">
                        <a class="dropdown-toggle dropdown-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                          <span class="default_capacity" data-text="عدد الاشخاص" data-text-multi="عدد الاشخاص">0 عدد الاشخاص</span> -
                        </a>
                        <div class="dropdown-menu dropdown-menu-wrap">
                          
                          <div class="dropdown-item">
                            <div class="qty-box d-flex align-items-center justify-content-between">
                              <label>عدد الاشخاص</label>
                              <div class="qtyBtn d-flex align-items-center">
                                <div class="qtyDec">
                                  <i class="la la-minus"></i>
                                </div>
                                <input type="text" name="adult_number" value="0" />
                                <div class="qtyInc">
                                  <i class="la la-plus"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown-item">
                            <div class="qty-box d-flex align-items-center justify-content-between">
                              <label>غرف</label>
                              <div class="qtyBtn d-flex align-items-center">
                                <div class="qtyDec">
                                  <i class="la la-minus"></i>
                                </div>
                                <input type="text" name="room_number" value="0" class="qty-input" />
                                <div class="qtyInc">
                                  <i class="la la-plus"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="btn-box pt-2">
                  <button type="submit" class="theme-btn">ابحث الآن</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>

{% endif %}