{% load static %}

<section
class="info-area info-bg info-area2 padding-top-80px padding-bottom-45px"
>
<div class="container">
  <div class="row">
    <div class="col-lg-3 responsive-column">
      <div class="icon-box icon-layout-2 d-flex">
        <div class="info-icon flex-shrink-0 bg-rgb text-color-2">
          <i class="las la-radiation"></i>
        </div>
        <!-- end info-icon-->
        <div class="info-content">
          <h4 class="info__title">جو فريد</h4>
          <p class="info__desc">يختلف كل منها في كيفية قطرها</p>
        </div>
        <!-- end info-content -->
      </div>
      <!-- end icon-box -->
    </div>
    <!-- end col-lg-3 -->
    <div class="col-lg-3 responsive-column">
      <div class="icon-box icon-layout-2 d-flex">
        <div class="info-icon flex-shrink-0 bg-rgb-2 text-color-3">
          <i class="la la-tree"></i>
        </div>
        <!-- end info-icon-->
        <div class="info-content">
          <h4 class="info__title">بيئة</h4>
          <p class="info__desc">يختلف كل منها في كيفية قطرها</p>
        </div>
        <!-- end info-content -->
      </div>
      <!-- end icon-box -->
    </div>
    <!-- end col-lg-3 -->
    <div class="col-lg-3 responsive-column">
      <div class="icon-box icon-layout-2 d-flex">
        <div class="info-icon flex-shrink-0 bg-rgb-3 text-color-4">
          <i class="las la-map-marked-alt"></i>
        </div>
        <!-- end info-icon-->
        <div class="info-content">
          <h4 class="info__title">موقع عظيم</h4>
          <p class="info__desc">يختلف كل منها في كيفية قطرها</p>
        </div>
        <!-- end info-content -->
      </div>
      <!-- end icon-box -->
    </div>
    <!-- end col-lg-3 -->
    <div class="col-lg-3 responsive-column">
      <div class="icon-box icon-layout-2 d-flex">
        <div class="info-icon flex-shrink-0 bg-rgb-4 text-color-5">
          <i class="las la-bed"></i>
        </div>
        <!-- end info-icon-->
        <div class="info-content">
          <h4 class="info__title">هومي كومفورت</h4>
          <p class="info__desc">يختلف كل منها في كيفية قطرها</p>
        </div>
        <!-- end info-content -->
      </div>
      <!-- end icon-box -->
    </div>
    <!-- end col-lg-3 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
</section>