{% load static %}
{% if infoBox %}
<section
class="info-area info-bg info-area2 padding-top-80px padding-bottom-45px"
>
<div class="container">
  <div class="row">
    {% for infoBox in infoBox %}
    <div class="col-lg-3 responsive-column">
      <div class="icon-box icon-layout-2 d-flex">
        <div class="info-icon flex-shrink-5 bg-rgb text-color-{{ forloop.counter  }} +2">
          <i class="{{infoBox.icon}}"></i>
        </div>
        <!-- end info-icon-->
        <div class="info-content">
          <h4 class="info__title">{{infoBox.title}}</h4>
          <p class="info__desc">{{infoBox.description}}   </p>
        </div>
        <!-- end info-content -->
      </div>
      <!-- end icon-box -->
    </div>
    {% endfor %}
    <!-- end col-lg-3 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
</section>

{% endif %}