{% load static %}


<section
class="cta-area subscriber-area section-bg-2 padding-top-60px padding-bottom-60px"
>
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-7">
      <div class="cta-content">
        <div class="section-heading">
          <p class="sec__desc text-white-50 pb-1">
            الاشتراك في الرسائل الإخبارية
          </p>
          <h2 class="sec__title font-size-30 text-white">
            اشترك للحصول على عروض خاصة
          </h2>
        </div>
        <!-- end section-heading -->
      </div>
    </div>
    <!-- end col-lg-7 -->
    <div class="col-lg-5">
      <div class="subscriber-box">
        <div class="contact-form-action">
          <form action="#">
            <div class="input-box">
              <label class="label-text text-white"
                >أدخل عنوان البريد الالكتروني</label
              >
              <div class="form-group mb-0">
                <span class="la la-envelope form-icon"></span>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="Email address"
                />
                <button
                  class="theme-btn theme-btn-small submit-btn"
                  type="submit"
                >
                  الإشتراك
                </button>
                <span class="font-size-15 pt-1 text-white-50"
                  ><i class="la la-lock me-1"></i>لا تقلق معلوماتك آمنة
                  معنا.</span
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end section-heading -->
    </div>
    <!-- end col-lg-5 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
</section>