{% comment %} {% load static %}

<section class="testimonial-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading text-center mb-0">
          <h2 class="sec__title line-height-50">ماذا يقول لنا عملاؤنا؟</h2>
        </div>
        <!-- end section-heading -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row  -->
    <div class="row padding-top-50px">
      <div class="col-lg-12">
        <div class="testimonial-carousel carousel-action owl-rtl owl-loaded owl-carousel">
          
          <!-- end testimonial-card -->
          
          <!-- end testimonial-card -->
          
          <!-- end testimonial-card -->
          
          <!-- end testimonial-card -->
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(1206px, 0px, 0px); transition: all; width: 4824px;"><div class="owl-item cloned" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team10.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">لوك جاكوبس</h4>
                <span class="author__meta">أستراليا</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team8.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">تشولبول باندي</h4>
                <span class="author__meta">إيطاليا</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team8.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">ليروي بيل</h4>
                <span class="author__meta">الولايات المتحدة الأمريكية</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item active" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team9.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">ريتشارد بام</h4>
                <span class="author__meta">كندا</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team10.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">لوك جاكوبس</h4>
                <span class="author__meta">أستراليا</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team8.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">تشولبول باندي</h4>
                <span class="author__meta">إيطاليا</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team8.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">ليروي بيل</h4>
                <span class="author__meta">الولايات المتحدة الأمريكية</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div><div class="owl-item cloned" style="width: 573px; margin-left: 30px;"><div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">
                إنهم ذنب السود في واجبات الاستثناء ، فقد تخلوا عن كيوبيداتات
                ، فهي مهدئة لروحي ، وليس كدحتي ، فهم في الستائر باستثناء
                كيوبيدات ليست استثناءً. الاستثنائي كيوبيدات السود لا يعطونه
              </p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{% static 'images/team9.jpg' %}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">ريتشارد بام</h4>
                <span class="author__meta">كندا</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="la la-angle-left"></i></div><div class="owl-next"><i class="la la-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
        <!-- end testimonial-carousel -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section> {% endcomment %}