{% load static %}

<section class="hotel-area section-bg padding-top-100px padding-bottom-200px overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2 class="sec__title line-height-55">
                        وجهات الفنادق الشهيرة <br> قد تعجبك
                    </h2>
                </div>
            </div>
        </div>

        <div class="row padding-top-50px">
            <div class="col-lg-12">
                <div class="hotel-card-wrap">
                    <div class="hotel-card-carousel-2 carousel-action owl-rtl owl-loaded owl-carousel">
                        {% for hotel in hotels %}
                        <div class="owl-item">
                            <div class="card-item">
                                <div class="card-img">
                                  {% if hotel.profile_picture %}
                                  <a href="{{hotel.get_absolute_url}}" class="d-block">
                                   <img src="{{hotel.profile_picture.url}}" alt="hotel-img" />
                                 </a>
                                  {% endif %}
                                   
                                    {% if hotel.badge %}
                                    <span class="badge">{{ hotel.badge }}</span>
                                    {% endif %}
                                    {% if hotel.special_offer %}
                                    <span class="badge badge-ribbon">{{ hotel.special_offer }}</span>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <a href="{{hotel.get_absolute_url}}">{{ hotel.name }}</a>
                                    </h3>
                                    <p class="card-meta">{{ hotel.location }}</p>
                                    <div class="card-rating">
                                        <span class="badge text-white">{{ hotel.average_rating|floatformat:1 }}/5</span>
                                        <span class="review__text">معدل</span>
                                        <span class="rating__text">({{ hotel.review_count }} التعليقات)</span>
                                    </div>
                                    <div class="card-price d-flex align-items-center justify-content-between">
                                        {% comment %} <p>
                                            <span class="price__num">${{ hotel.price }}</span>
                                            {% if hotel.discount_price %}
                                            <span class="price__num before-price color-text-3">
                                                ${{ hotel.discount_price }}
                                            </span>
                                            {% endif %}
                                            <span class="price__text">لليلة الواحدة</span>
                                        </p> {% endcomment %}
                                        <a href="{{hotel.get_absolute_url}}" class="btn-text">انظر التفاصيل<i class="la la-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
