
{% extends "admin/layouts/master.html" %}

{% block title %}تحديث معلومات المستخدم{% endblock %}

{% block content %}

    <section class="section">
        <div class="section-header">
            <h1>تحديث معلومات المستخدم</h1>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-body">
                    <form method="POST" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">تحديث</button>
                    </form>
                    <a href="{% url 'users:list_user' %}" class="btn btn-secondary">العودة إلى قائمة المستخدمين</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}