{% extends "admin/hotel_manager_dashboard/index.html" %} 
{% load static %} 
{% block section_title %} الحجوزات {% endblock section_title %} 
{% block path_title %} الحجوزات {% endblock path_title %} 
{% block content %}
<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-box">
          <div class="form-title-wrap">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="title">نتائج الحجز</h3>
              <div class="select-contain select2-container-wrapper">
                <select class="select-contain-select">
                  <option value="1">أي حال أو أية حالة</option>
                  <option value="2">وافق</option>
                  <option value="3">قيد الانتظار</option>
                  <option value="4">ألغيت</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-content pb-2">
            <div class="card-item card-item-list card-item--list">
              <div class="card-img">
                <img src="{% static 'images/img1.jpg' %}" alt="hotel-img" />
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <h3 class="card-title">فندق جوفيندو أستوتيل</h3>
                  <span class="badge text-bg-warning text-white ms-2"
                    >قيد الانتظار</span
                  >
                </div>
                <ul class="list-items list-items-2 pt-2 pb-3">
                  <li><span>تاريخ البدء:</span>12 ديسمبر 2019</li>
                  <li><span>تاريخ الانتهاء:</span>12 يونيو 2020</li>
                  <li><span>تفاصيل الحجز:</span> 3 أشخاص</li>
                  <li><span>زبون:</span> ديفيد مارتن</li>
                </ul>
                <div class="btn-box">
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPopup"
                    ><i class="la la-envelope me-1"></i>أرسل رسالة</a
                  >
                </div>
              </div>
              <div class="action-btns">
                <a href="#" class="theme-btn theme-btn-small me-2"
                  ><i class="la la-check-circle me-1"></i>يوافق</a
                >
                <a href="#" class="theme-btn theme-btn-small"
                  ><i class="la la-times me-1"></i>إلغاء</a
                >
              </div>
            </div>
            <!-- end card-item -->
            <div class="card-item flight-card card-item-list card-item--list">
              <div class="card-img">
                <img
                  src="{% static 'images/img15.jpg' %}"
                  alt="destination-img"
                />
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <h3 class="card-title">من لندن إلى باريس</h3>
                  <span class="badge text-bg-success ms-2">وافق</span>
                </div>
                <ul class="list-items list-items-2 pt-2 pb-3">
                  <li><span>تاريخ البدء:</span>12 ديسمبر 2019</li>
                  <li><span>تاريخ الانتهاء:</span>12 يونيو 2020</li>
                  <li><span>تفاصيل الحجز:</span>2 الناس</li>
                  <li><span>زبون:</span>مارك وينج</li>
                </ul>
                <div class="btn-box">
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPopup"
                    ><i class="la la-envelope me-1"></i>أرسل رسالة</a
                  >
                </div>
              </div>
              <div class="action-btns">
                <a href="#" class="theme-btn theme-btn-small me-2"
                  ><i class="la la-check-circle me-1"></i>يوافق</a
                >
                <a href="#" class="theme-btn theme-btn-small"
                  ><i class="la la-times me-1"></i>إلغاء</a
                >
              </div>
            </div>
            <div class="card-item car-card card-item-list card-item--list">
              <div class="card-img">
                <img src="{% static 'images/car-img2.png' %}" alt="car-img" />
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <h3 class="card-title">
                    فولكس فاجن جيتا 2 أبواب أو ما شابه ذلك
                  </h3>
                  <span class="badge text-bg-warning text-white ms-2"
                    >قيد الانتظار</span
                  >
                </div>
                <ul class="list-items list-items-2 pt-2 pb-3">
                  <li><span>تاريخ البدء:</span>12 ديسمبر 2019</li>
                  <li><span>تاريخ الانتهاء:</span>12 يونيو 2020</li>
                  <li><span>تفاصيل الحجز:</span> 4 اشخاص</li>
                  <li><span>زبون:</span>جون سميث</li>
                </ul>
                <div class="btn-box">
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPopup"
                    ><i class="la la-envelope me-1"></i>أرسل رسالة</a
                  >
                </div>
              </div>
              <div class="action-btns">
                <a href="#" class="theme-btn theme-btn-small me-2"
                  ><i class="la la-check-circle me-1"></i>يوافق</a
                >
                <a href="#" class="theme-btn theme-btn-small"
                  ><i class="la la-times me-1"></i>إلغاء</a
                >
              </div>
            </div>
            <div class="card-item cruise--card card-item-list card-item--list">
              <div class="card-img">
                <a href="cruise-details.html" class="d-block">
                  <img
                    src="{% static 'images/cruise-img6.jpg' %}"
                    alt="cruise-img"
                  />
                </a>
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <h3 class="card-title">
                    7 ليالٍ في منطقة البحر الكاريبي الجنوبية
                  </h3>
                  <span class="badge text-bg-danger ms-2">ألغيت</span>
                </div>
                <ul class="list-items list-items-2 pt-2 pb-3">
                  <li><span>تاريخ البدء:</span>12 ديسمبر 2019</li>
                  <li><span>تاريخ الانتهاء:</span>12 يونيو 2020</li>
                  <li><span>تفاصيل الحجز:</span>4 اشخاص</li>
                  <li><span>زبون:</span> جون سميث</li>
                </ul>
                <div class="btn-box">
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPopup"
                    ><i class="la la-envelope me-1"></i>أرسل رسالة</a
                  >
                </div>
              </div>
              <div class="action-btns">
                <a href="#" class="theme-btn theme-btn-small me-2"
                  ><i class="la la-check-circle me-1"></i>يوافق</a
                >
                <a href="#" class="theme-btn theme-btn-small"
                  ><i class="la la-times me-1"></i>إلغاء</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link page-link-nav" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="la la-angle-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link page-link-nav" href="#">1</a>
            </li>
            <li class="page-item active">
              <a class="page-link page-link-nav" href="#"
                >2 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="page-item">
              <a class="page-link page-link-nav" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link page-link-nav" href="#" aria-label="Next">
                <span aria-hidden="true"
                  ><i class="la la-angle-right"></i
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="border-top mt-5"></div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="copy-right padding-top-30px">
          <p class="copy__desc">
            &copy; Copyright TeamSoft 2025. Made with
            <span class="la la-heart"></span> by
            <a href="https://ahmed-div.netlify.app">TeamSoft</a>
          </p>
        </div>
        <!-- end copy-right -->
      </div>
      <!-- end col-lg-7 -->
      <div class="col-lg-5">
        <div class="footer-social-box text-end padding-top-30px">
          <ul class="social-profile">
            <li>
              <a href="#"><i class="lab la-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <!-- end copy-right-content -->
      </div>
      <!-- end col-lg-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
{% endblock content %}
