{% load static %}
<!DOCTYPE html>
<html lang="ar" right>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block title %}Stisla Dashboard{% endblock %}</title>
    <!-- إضافة CSS لـ DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<!-- إضافة JS لـ jQuery و DataTables -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'admin_assets/modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin_assets/modules/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- CSS Libraries -->
    {% block extra_css %}{% endblock %}

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'admin_assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin_assets/css/components.css' %}">

    <!-- Custom CSS -->
    {% block custom_css %}{% endblock %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-94034622-3');
    </script>
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
        
            {% include "admin/layouts/sidebar.html" %}
            {% include "admin/layouts/topbar.html" %} 


            <div class="main-content">
                {% block content %}
                    <!-- Default content -->

                    
                {% endblock %}
            </div>

           
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <!-- General JS Scripts -->
    <script src="{% static 'admin_assets/modules/jquery.min.js' %}"></script>
    <script src="{% static 'admin_assets/modules/popper.js' %}"></script>
    <script src="{% static 'admin_assets/modules/tooltip.js' %}"></script>
    <script src="{% static 'admin_assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin_assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'admin_assets/modules/moment.min.js' %}"></script>
    <script src="{% static 'admin_assets/js/stisla.js' %}"></script>
    
  <!-- Page Specific JS File -->
  <script src="{% static 'admin_assets/js/page/modules-sweetalert.js' %}"></script>
  
    <!-- JS Libraries -->
    {% block extra_js %}{% endblock %}

    <!-- Template JS File -->
    <script src="{% static 'admin_assets/js/scripts.js' %}"></script>
    <script src="{% static 'admin_assets/js/custom.js' %}"></script>
    
    {% block page_js %}{% endblock %}
</body>
</html>