{% extends "frontend/layout/master.html" %}
{% load static %}
{% block content %}

<!-- ================================
START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-9">
  <div class="breadcrumb-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content">
            <div class="section-heading">
              <h2 class="sec__title line-height-50 text-white">
                 ديار  رفيق السفر<br />
                
              </h2>
            </div>
          </div>
          <!-- end breadcrumb-content -->
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end breadcrumb-wrap -->
  <div class="bread-svg-box">
    <svg
      class="bread-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 10"
      preserveAspectRatio="none"
    >
      <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
    </svg>
  </div>
  <!-- end bread-svg -->
</section>
<!-- end breadcrumb-area -->
<!-- ================================
END BREADCRUMB AREA
================================= -->

<!-- ================================
START INFO AREA
================================= -->
<section class="info-area padding-top-100px padding-bottom-70px bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 responsive-column">
        <div class="card-item">
          <div class="card-img">
            <img src="{% static 'images\diar.jpg' %}" alt="عن ديار" />
          </div>
          <div class="card-body">
            <h3 class="card-title mb-2">من نحن؟</h3>
            <p class="card-text">
              منذ عام 2002، تميّزت ديار بتقديم تجربة حجز فنادق بسيطة، موثوقة وشفافة تلبي احتياجات المسافر العصري في كل مكان.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 responsive-column">
        <div class="card-item">
          <div class="card-img">
            <img src="{% static 'images\diar2.jpg' %}" alt="ماذا نفعل" />
          </div>
          <div class="card-body">
            <h3 class="card-title mb-2">ماذا نقدم؟</h3>
            <p class="card-text">
              منصة ذكية تسهّل عليك استكشاف أفضل خيارات الإقامة، المقارنة بينها، وحجزها بسرعة وراحة تامة دون تعقيد.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 responsive-column">
        <div class="card-item">
          <div class="card-img">
            <img src="{% static 'images\diar3.jpg' %}" alt="مهمتنا" />
          </div>
          <div class="card-body">
            <h3 class="card-title mb-2">مهمتنا</h3>
            <p class="card-text">
              نسعى لتقديم تجربة حجز سلسة وموثوقة، تمنح عملاءنا راحة البال وحرية الاختيار، أينما كانت وجهتهم.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info-area -->
<!-- ================================
END INFO AREA
================================= -->

<!-- ================================
START ABOUT AREA
================================= -->
<section class="about-area padding-bottom-90px overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading margin-bottom-40px">
          <h2 class="sec__title">معلومات عنا</h2>
          <h4 class="title font-size-16 line-height-26 pt-4 pb-2">
            منذ عام 2002، كانت ديار علامة فارقة في عالم حجوزات الفنادق. تجربة حجز متكاملة وشفافة؟ لم يكن أحد يفعلها… حتى فعلنا.
          </h4>
          <p class="sec__desc font-size-16 pb-3">
            في عالم مليء بالتعقيد، نؤمن أن الحجز يجب أن يكون بسيطًا، واضحًا، وسهل الوصول للجميع. ولهذا أنشأنا منصة "ديار" لتكون بوابتك إلى إقامة مثالية، أينما كانت وجهتك.
          </p>
          <p class="sec__desc font-size-16 pb-3">
            ديار ليست مجرد موقع إلكتروني، بل تجربة متكاملة تمنحك الثقة من لحظة تصفح الفنادق وحتى تأكيد الحجز. نحن لا نعرض عليك أماكن إقامة فقط، بل نمنحك راحة البال.
          </p>
          <p class="sec__desc font-size-16 pb-3">
            في حين تعتمد أنظمة كثيرة على واجهات مزدحمة ونصوص مربكة، نقدّم لك تجربة سلسة وتنظيمًا مرنًا يساعدك على اتخاذ القرار بسهولة.
          </p>
          <p class="sec__desc font-size-16">
            سواء كنت تخطط لعطلة نهاية أسبوع أو رحلة عمل سريعة، فإن ديار تضمن لك الحجز الأنسب في الوقت الأنسب، بأقل جهد ممكن.
            <br><strong>ديار — لأن راحتك تبدأ من هنا.</strong>
          </p>
        </div>
        
        <!-- end section-heading -->
      </div>
      <!-- end col-lg-6 -->
      <div class="col-lg-5 ms-auto">
        <div class="image-box about-img-box">
          <img
            src="{% static 'images/img24.jpg' %}"
            alt="about-img"
            class="imgitem imgitem-1"
          />
          <img
            src="{% static 'images/img25.jpg' %}"
            alt="about-img"
            class="imgitem imgitem-2"
          />
        </div>
      </div>
      <!-- end col-lg-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end about-area -->
<!-- ================================
END ABOUT AREA
================================= -->

<!-- ================================
STAR FUNFACT AREA
================================= -->
<section class="funfact-area padding-bottom-70px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading text-center">
          <h2 class="sec__title">أرقامنا تقول كل شيء</h2>
        </div>
        <!-- end section-heading -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row -->
    <div class="counter-box counter-box-2 margin-top-60px mb-0">
      <div class="row">
        <div class="col-lg-3 responsive-column">
          <div class="counter-item counter-item-layout-2 d-flex">
            <div class="counter-icon flex-shrink-0">
              <i class="la la-users"></i>
            </div>
            <div class="counter-content">
              <div>
                <span
                  class="counter"
                  data-from="0"
                  data-to="{{ partners.count }}"
                  data-refresh-interval="5"
                  >0</span
                >
                <span class="count-symbol">+</span>
              </div>
              <p class="counter__title">شركاء</p>
            </div>
            <!-- end counter-content -->
          </div>
          <!-- end counter-item -->
        </div>
        <!-- end col-lg-3 -->
        <div class="col-lg-3 responsive-column">
          <div class="counter-item counter-item-layout-2 d-flex">
            <div class="counter-icon flex-shrink-0">
              <i class="la la-building"></i>
            </div>
            <div class="counter-content">
              <div>
                <span
                  class="counter"
                  data-from="0"
                  data-to="3"
                  data-refresh-interval="5"
                  >0</span
                >
                <span class="count-symbol">k</span>
              </div>
              <p class="counter__title">الخصائص</p>
            </div>
            <!-- end counter-content -->
          </div>
          <!-- end counter-item -->
        </div>
        <!-- end col-lg-3 -->
        <div class="col-lg-3 responsive-column">
          <div class="counter-item counter-item-layout-2 d-flex">
            <div class="counter-icon flex-shrink-0">
              <i class="la la-globe"></i>
            </div>
            <div class="counter-content">
              <div>
                <span
                  class="counter"
                  data-from="0"
                  data-to="400"
                  data-refresh-interval="5"
                  >0</span
                >
                <span class="count-symbol">+</span>
              </div>
              <p class="counter__title">الأماكن</p>
            </div>
            <!-- end counter-content -->
          </div>
          <!-- end counter-item -->
        </div>
        <!-- end col-lg-3 -->
        <div class="col-lg-3 responsive-column">
          <div class="counter-item counter-item-layout-2 d-flex">
            <div class="counter-icon flex-shrink-0">
              <i class="la la-check-circle"></i>
            </div>
            <div class="counter-content">
              <div>
                <span
                  class="counter"
                  data-from="0"
                  data-to="40"
                  data-refresh-interval="5"
                  >0</span
                >
                <span class="count-symbol">k</span>
              </div>
              <p class="counter__title">الحجز</p>
            </div>
            <!-- end counter-content -->
          </div>
          <!-- end counter-item -->
        </div>
        <!-- end col-lg-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end counter-box -->
  </div>
  <!-- end container -->
</section>
<!-- ================================
END FUNFACT AREA
================================= -->

<!-- ================================
   START TESTIMONIAL AREA
================================= -->
<section class="testimonial-area section-bg section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="section-heading">
          <h2 class="sec__title line-height-50">ماذا يقول لنا عملاؤنا؟</h2>
          <p class="sec__desc padding-top-30px">
            كرة القدم شرب الوادي لسحب القدر. Tellus Photography مجاني
          </p>
        </div>
        <!-- end section-heading -->
      </div>
      <!-- end col-lg-4 -->
      <div class="col-lg-8">
        <div class="testimonial-carousel carousel-action owl-rtl owl-loaded owl-carousel">
          {% for testimonial in testimonials %}
          <div class="testimonial-card">
            <div class="testi-desc-box">
              <p class="testi__desc">{{ testimonial.content }}</p>
            </div>
            <div class="author-content d-flex align-items-center">
              <div class="author-img">
                <img src="{{ testimonial.image.url }}" alt="testimonial image">
              </div>
              <div class="author-bio">
                <h4 class="author__title">{{ testimonial.name }}</h4>
                <span class="author__meta">{{ testimonial.position }}</span>
                <span class="ratings d-flex align-items-center">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                </span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- end testimonial-carousel -->
      </div>
      <!-- end col-lg-8 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end testimonial-area -->
<!-- ================================
   START TESTIMONIAL AREA
================================= -->

<!-- ================================
 START INFO AREA
================================= -->
<section class="info-area padding-top-100px padding-bottom-60px text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2 class="sec__title">فريقنا المتخصص</h2>
        </div>
        <!-- end section-heading -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row -->
    <div class="row padding-top-100px">
      {% for member in team_members %}
      <div class="col-lg-4 responsive-column">
        <div class="card-item team-card">
          <div class="card-img">
            <img src="{{ member.image.url }}" alt="team-img" />
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ member.name }}</h3>
            <p class="card-meta">{{ member.position }}</p>
            <p class="card-text font-size-15 pt-2">{{ member.bio }}</p>
            <ul class="social-profile padding-top-20px pb-2">
              {% if member.facebook %}
              <li>
                <a href="{{ member.facebook }}"><i class="lab la-facebook-f"></i></a>
              </li>
              {% endif %}
              {% if member.twitter %}
              <li>
                <a href="{{ member.twitter }}"><i class="lab la-twitter"></i></a>
              </li>
              {% endif %}
              {% if member.instagram %}
              <li>
                <a href="{{ member.instagram }}"><i class="lab la-instagram"></i></a>
              </li>
              {% endif %}
              {% if member.linkedin %}
              <li>
                <a href="{{ member.linkedin }}"><i class="lab la-linkedin-in"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <!-- end card-item -->
      </div>
      {% endfor %}
      <!-- end col-lg-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end info-area -->
<!-- ================================
END INFO AREA
================================= -->

{% endblock content %}