{% extends "frontend/layout/master.html" %}
{% load static %}
{% block content %}
    <!-- ================================
    START BREADCRUMB AREA
================================= -->
    <section class="breadcrumb-area bread-bg-7">
      <div class="breadcrumb-wrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb-content text-center">
                <div class="section-heading">
                  <h2 class="sec__title text-white">
                    قائمة منزلك مع <br />
                    العالم أكبر مجتمع سفر
                  </h2>
                </div>
              </div>
              <!-- end breadcrumb-content -->
            </div>
            <!-- end col-lg-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end breadcrumb-wrap -->
      <div class="bread-svg-box">
        <svg
          class="bread-svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 10"
          preserveAspectRatio="none"
        >
          <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
        </svg>
      </div>
      <!-- end bread-svg -->
    </section>
    <!-- end breadcrumb-area -->
    <!-- ================================
    END BREADCRUMB AREA
================================= -->

    <!-- ================================
    START FORM AREA
================================= -->
    <section class="listing-form section--padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="listing-header pb-4">
              <h3 class="title font-size-28 pb-2">قائمة الإقامة في Trizen</h3>
              <p class="font-size-14">
                إذا كنت تدرج قائمة إيجارات عطلة ، يرجى
                <a href="#" class="text-color"> النقر هنا</a>
              </p>
              <p class="font-size-14">
                <a href="#" class="text-color"
                  >اقرأ سياسة Trizen الكاملة لأماكن الإقامة.</a
                >
              </p>
            </div>
              <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-user me-2 text-gray"></i>معلوماتك
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
                
                  <div class="row">
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">اسمك</label>
                      <div class="form-group">
                        <span class="la la-user form-icon"></span>
                           {{ form.name }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">بريدك الالكتروني</label>
                      <div class="form-group">
                        <span class="la la-envelope-o form-icon"></span>
                          {{ form.email }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">ما هو دورك في هذا العمل؟</label>
                      <div
                        class="form-group select2-container-wrapper select-contain w-100"
                      >
                         {{ form.role }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-gear me-2 text-gray"></i>معلومات قائمة لمكان
                  إقامتك
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
                
                  <div class="row">
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">الاسم التجاري الرسمي</label>
                      <div class="form-group">
                        <span class="la la-briefcase form-icon"></span>
                       {{ form.official_name }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">بلد</label>
                      <div
                        class="form-group select2-container-wrapper select-contain w-100"
                      >
                     {{ form.country }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text"
                        >المدينة / البلدة ، الولاية / المقاطعة / المنطقة</label
                      >
                      <div class="form-group">
                        <span class="la la-map form-icon"></span>
                         {{ form.city }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                 
                  <div class="col-lg-8">
                    <div class="input-box">
                      <label class="label-text">عنوان الشارع</label>
                      <div class="form-group">
                        <span class="la la-map-marker form-icon"></span>
                           {{ form.street_address }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-8 -->
                  <div class="col-lg-12">
                    <div class="input-box">
                      <label class="label-text"
                        >معلومات اضافية عن العنوان</label
                      >
                      <div class="form-group">
                        <span class="la la-map-marker form-icon"></span>
                         {{ form.additional_address_info }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-12 -->
                </div>
               
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-map me-2 text-gray"></i>خريطة الموقع
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
               
                  <div class="row">
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">خط الطول</label>
                      <div class="form-group">
                        <span class="la la-map form-icon"></span>
                         {{ form.longitude }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">خط العرض</label>
                      <div class="form-group">
                        <span class="la la-map form-icon"></span>
                        {{ form.latitude }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-12">
                    <div class="input-box">
                      <label class="label-text"
                        >للحصول على موقع دقيق ، اسحب العلامة الزرقاء على
                        الخريطة.</label
                      >
                      <div class="form-group map-container">
                        <div
                          id="singleMap"
                          class="drag-map"
                          data-latitude="40.7427837"
                          data-longitude="-73.11445617675781"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-12 -->
                
                </div>
               
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
             <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-user me-2 text-gray"></i>بيانات المتصل
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
               
                  <div class="row">
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">هاتف</label>
                      <div class="form-group">
                        <span class="la la-phone form-icon"></span>
                          {{ form.phone }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">فاكس</label>
                      <div class="form-group">
                        <span class="la la-print form-icon"></span>
                         {{ form.fax }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                   <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text"
                        >عنوان موقع الويب الخاص بك</label
                      >
                      <div class="form-group">
                        <span class="la la-globe form-icon"></span>
                            {{ form.website }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">Facebook Page</label>
                      <div class="form-group">
                        <span class="la la-facebook form-icon"></span>
                         {{ form.facebook }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">Instagram Page</label>
                      <div class="form-group">
                        <span class="la la-instagram form-icon"></span>
                          {{ form.instagram }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">Twitter Page</label>
                      <div class="form-group">
                        <span class="la la-twitter form-icon"></span>
                            {{ form.twitter }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">Linkedin Page</label>
                      <div class="form-group">
                        <span class="la la-linkedin form-icon"></span>
                          {{ form.linkedin }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                </div>
                
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
             <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-building-o me-2 text-gray"></i>معلومات عن مكان
                  إقامتك
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
                
                  <div class="row">
                  <div class="col-lg-12">
                    <div class="input-box">
                      <label class="label-text"
                        >إجمالي عدد الغرف والأجنحة</label
                      >
                      <div class="form-group">
                        <span class="la la-pencil form-icon"></span>
                          {{ form.total_rooms }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-12 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">نطاق السعر (في الليلة)</label>
                      <div class="form-group d-flex align-items-center">
                       {{ form.price_range_min }}
                        <span class="px-2">إلى</span>
                          {{ form.price_range_max }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-box">
                      <label class="label-text">اختر العملة</label>
                      <div
                        class="form-group select2-container-wrapper select-contain w-100"
                      >
                       {{ form.currency }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-12">
                    <div class="input-box">
                      <label class="label-text mb-0 line-height-20"
                        >وصف مكان إقامتك</label
                      >
                      <p class="font-size-13 mb-3 line-height-20">
                        400 حرف كحد أقصى
                      </p>
                      <div class="form-group">
                        <span class="la la-pencil form-icon"></span>
                          {{ form.description }}
                      </div>
                    </div>
                  </div>
                  <!-- end col-lg-12 -->
                  <div class="col-lg-12">
                    <div class="input-box">
                      <label class="label-text mb-0 line-height-20"
                        >وصف إضافي</label
                      >
                      <p class="font-size-13 mb-3 line-height-20">
                        400 حرف كحد أقصى
                      </p>
                      <div
                        class="form-group select2-container-wrapper select-contain w-100"
                      >
                      </div>
                      <div class="form-group">
                        <span class="la la-pencil form-icon"></span>
                           {{ form.additional_description }}
                      </div>
                    </div>
                  </div>
                    <!-- end col-lg-12 -->
                  
                </div>
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-gear me-2 text-gray"></i>وسائل الراحة
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
                
                  <div class="row">
                  <div class="col-lg-6">
                    <div class="custom-checkbox">
                      {{ form.airport_transportation }}
                      <label for="id_airport_transportation">مواصلات المطار</label>
                    </div>
                    <div class="custom-checkbox">
                      {{ form.bar_lounge }}
                      <label for="id_bar_lounge">بار / ردهة</label>
                    </div>
                    <div class="custom-checkbox">
                      {{ form.beach }}
                      <label for="id_beach">شاطئ بحر</label>
                    </div>
                    
                    <div class="custom-checkbox">
                     {{ form.swimming_pool }}
                      <label for="id_swimming_pool">حمام السباحة</label>
                    </div>
                    <div class="custom-checkbox">
                     {{ form.wifi }}
                      <label for="id_wifi">وفي</label>
                    </div>
                   
                    <div class="custom-checkbox">
                      {{ form.air_conditioning }}
                      <label for="id_air_conditioning">تكييف</label>
                    </div>
                    
                    <div class="custom-checkbox">
                      {{ form.elevator }}
                      <label for="id_elevator">مصعد في المبنى</label>
                    </div>
                    
                  </div>
                  <!-- end col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="custom-checkbox">
                        {{ form.wheelchair_access }}
                      <label for="id_wheelchair_access"
                        >مسموح الكرسي المتحركة</label
                      >
                    </div>
                    <div class="custom-checkbox">
                         {{ form.fitness_facility }}
                      <label for="id_fitness_facility">مرافق اللياقة البدنية</label>
                    </div>
                    <div class="custom-checkbox">
                      {{ form.breakfast }}
                      <label for="id_breakfast">وجبة افطار</label>
                    </div>
                    
                    <div class="custom-checkbox">
                        {{ form.pets_allowed }}
                      <label for="id_pets_allowed"
                        >مسموح بدخول الحيوانات الأليفة</label
                      >
                    </div>
                    
                    <div class="custom-checkbox">
                      {{ form.restaurant }}
                      <label for="id_restaurant">مطعم</label>
                    </div>
                   
                    <div class="custom-checkbox">
                     {{ form.free_parking }}
                      <label for="id_free_parking">موقف سيارات مجاني</label>
                    </div>
                    
                  </div>
                  <!-- end col-lg-6 -->
                
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">
                  <i class="la la-photo me-2 text-gray"></i>اختر صورة لتمثيل هذه
                  القائمة
                </h3>
              </div>
              <!-- form-title-wrap -->
              <div class="form-content contact-form-action">
               
                  <div class="row">
                  <div class="col-lg-12">
                    <div class="file-upload-wrap">
                          {{ form.image }}
                      <span class="file-upload-text"
                        ><i class="la la-upload me-2"></i>انقر أو اسحب الصور هنا
                        للتحميل</span
                      >
                    </div>
                  </div>
                  <!-- end col-lg-12 -->
                </div>
              </div>
              <!-- end form-content -->
            </div>
            <!-- end form-box -->
            <div class="submit-box">
              <h3 class="title pb-3">إرسال هذه القائمة</h3>
              <div class="custom-checkbox">
                <input type="checkbox" class="form-check-input" id="agreeChb" required />
                <label for="agreeChb"
                  >حدد هذا المربع للتصديق على أنك ممثل رسمي للممتلكات التي تقدم
                  هذه القائمة من أجلها وأن المعلومات التي قدمتها صحيحة. عند
                  إرسال صورة ، فإنك تقر أيضًا بأن لديك الحق في استخدام الصورة
                  على الويب وتوافق على عدم إلحاق الضرر بـ Trizen فيما يتعلق بأي
                  وجميع مشكلات حقوق النشر الناشئة عن استخدامك للصورة.</label
                >
              </div>
              <div class="btn-box pt-3">
                <button type="submit" class="theme-btn">
                  إرسال القائمة <i class="la la-arrow-right ms-1"></i>
                </button>
              </div>
            </div>
            <!-- end submit-box -->
            </form>
          </div>
          <!-- end col-lg-9 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end listing-form -->
    <!-- ================================
    END FORM AREA
================================= -->
<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById('singleMap'), {
      center: { lat: 40.7128, lng: -74.0060 }, // مركز الخريطة الافتراضي
      zoom: 12,
    });

    const marker = new google.maps.Marker({
      position: { lat: 40.7128, lng: -74.0060 },
      map: map,
      draggable: true,
    });

    google.maps.event.addListener(marker, 'dragend', function (event) {
      document.getElementById('id_latitude').value = event.latLng.lat();
      document.getElementById('id_longitude').value = event.latLng.lng();
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
{% endblock %}