{% extends "frontend/layout/master.html" %}

{% block content %}
    <!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-9">
  <div class="breadcrumb-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <div class="section-heading">
              <h2 class="sec__title text-white">أضف منشور جديد</h2>
            </div>
          </div>
          <!-- end breadcrumb-content -->
        </div>
        <!-- end col-lg-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end breadcrumb-wrap -->
  <div class="bread-svg-box">
    <svg
      class="bread-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 10"
      preserveAspectRatio="none"
    >
      <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
    </svg>
  </div>
  <!-- end bread-svg -->
</section>
<!-- end breadcrumb-area -->
<!-- ================================
END BREADCRUMB AREA
================================= -->

<!-- ================================
START FORM AREA
================================= -->
<section class="listing-form section--padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">
              <i class="la la-gear me-2 text-gray"></i>أضف منشور جديد
            </h3>
          </div>
          <!-- form-title-wrap -->
          <div class="form-content contact-form-action">
            <form method="post" class="row">
              <div class="col-lg-12">
                <div class="input-box">
                  <label class="label-text">عنوان</label>
                  <div class="form-group">
                    <span class="la la-briefcase form-icon"></span>
                    <input
                      class="form-control"
                      type="text"
                      name="text"
                      placeholder="أدخل العنوان هنا"
                    />
                  </div>
                </div>
              </div>
              <!-- end col-lg-12 -->
              <div class="col-lg-12">
                <div class="input-box">
                  <label class="label-text">وصف</label>
                  <div class="form-group">
                    <span class="la la-pencil form-icon"></span>
                    <textarea
                      class="message-control form-control"
                      id="editor"
                      name="message"
                    >
لوريم إيبسوم هو ببساطة نص شكلي يستخدم في صناعة الطباعة والتنضيد. كان Lorem Ipsum هو النص الوهمي القياسي في الصناعة منذ القرن الخامس عشر الميلادي ، عندما أخذت طابعة غير معروفة لوحًا من النوع وتدافعت عليه لصنع كتاب عينة من النوع. لقد نجت ليس فقط خمسة قرون ، ولكن أيضًا القفزة في التنضيد الإلكتروني ، وظلت دون تغيير جوهري. تم نشره في الستينيات من القرن الماضي بإصدار أوراق Letraset التي تحتوي على مقاطع Lorem Ipsum ، ومؤخرًا مع برامج النشر المكتبي مثل Aldus PageMaker بما في ذلك إصدارات Lorem Ipsum.</textarea
                    >
                  </div>
                </div>
              </div>
              <!-- end col-lg-12 -->
            </form>
          </div>
          <!-- end form-content -->
        </div>
        <!-- end form-box -->
        <div class="submit-box">
          <div class="btn-box pt-3">
            <button type="submit" class="theme-btn">
              أضف منشور جديد <i class="la la-arrow-right ms-1"></i>
            </button>
          </div>
        </div>
        <!-- end submit-box -->
      </div>
      <!-- end col-lg-8 -->
      <div class="col-lg-4">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">
              <i class="la la-gear me-2 text-gray"></i>إضافة فئة
            </h3>
          </div>
          <!-- form-title-wrap -->
          <div class="form-content contact-form-action">
            <form method="post">
              <div class="input-box">
                <label class="label-text">التصنيفات</label>
                <div class="form-group mb-0">
                  <span class="la la-briefcase form-icon"></span>
                  <input
                    class="form-control"
                    type="text"
                    name="text"
                    placeholder="التصنيفات"
                  />
                </div>
              </div>
            </form>
          </div>
          <!-- end form-content -->
        </div>
        <!-- end form-box -->
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">
              <i class="la la-gear me-2 text-gray"></i>اضف اشارة
            </h3>
          </div>
          <!-- form-title-wrap -->
          <div class="form-content contact-form-action">
            <form method="post">
              <div class="input-box">
                <label class="label-text"
                  >العلامات (علامات منفصلة بفاصلات)</label
                >
                <div class="form-group mb-0">
                  <span class="la la-briefcase form-icon"></span>
                  <input
                    class="form-control"
                    type="text"
                    name="text"
                    placeholder="مثال: السفر والطبيعة"
                  />
                </div>
              </div>
            </form>
          </div>
          <!-- end form-content -->
        </div>
        <!-- end form-box -->
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">
              <i class="la la-photo me-2 text-gray"></i>صورة مميزة
            </h3>
          </div>
          <!-- form-title-wrap -->
          <div class="form-content">
            <form method="post">
              <div class="file-upload-wrap file-upload-wrap-3">
                <input
                  type="file"
                  name="files[]"
                  class="multi file-upload-input with-preview"
                  multiple
                  maxlength="3"
                />
                <span class="file-upload-text"
                  ><i class="la la-upload me-2"></i>تحميل الصور</span
                >
              </div>
            </form>
          </div>
          <!-- end form-content -->
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end listing-form -->
<!-- ================================
END FORM AREA
================================= -->

{% endblock content %}