{% extends "frontend/layout/master.html" %}

{% block content %}

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-10">
  <div class="breadcrumb-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <div class="section-heading">
              <h2 class="sec__title text-white">الدفع</h2>
            </div>
            <span class="arrow-blink">
              <i class="la la-arrow-down"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bread-svg-box">
    <svg
      class="bread-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 10"
      preserveAspectRatio="none"
    >
      <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
    </svg>
  </div>
</section>
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START BOOKING AREA
================================= -->
<section class="booking-area padding-top-100px padding-bottom-70px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">معلومات التحويل</h3>
          </div>
          <div class="form-content">
            {% if paymentsMethods %}
            <div class="section-tab check-mark-tab text-center pb-4">
              <ul
                class="nav nav-tabs justify-content-center"
                id="paymentTabs"
                role="tablist"
              >
                {% for paymentsMethod in paymentsMethods %}
                <li class="nav-item">
                  <a
                    class="nav-link {% if forloop.first %}active{% endif %}"
                    id="tab-{{ paymentsMethod.id }}"
                    data-bs-toggle="tab"
                    href="#content-{{ paymentsMethod.id }}"
                    role="tab"
                    aria-controls="content-{{ paymentsMethod.id }}"
                    aria-selected="{{ forloop.first }}"
                  >
                    <i class="la la-check icon-element"></i>
                    <img
                      src="{{ paymentsMethod.payment_option.logo.url }}"
                      width="100"
                      height="80"
                      alt="{{ paymentsMethod.payment_option.method_name }}"
                    />
                    <span class="d-block pt-2">
                      {{ paymentsMethod.payment_option.method_name }}
                    </span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="tab-content">
              {% for method in paymentsMethods %}
              <div
                class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                id="content-{{ method.id }}"
                role="tabpanel"
                aria-labelledby="tab-{{ method.id }}"
              >
                <div class="payment-details mb-3">
                  <p class="mb-1"><strong>اسم الحساب:</strong> {{ method.account_name }}</p>
                  <p class="mb-1"><strong>رقم الحساب:</strong> {{ method.account_number }}</p>
                  <p class="mb-1"><strong>رقم الآيبان:</strong> {{ method.iban }}</p>
                  <p class="mb-0"><strong>تعليمات الدفع:</strong> {{ method.description }}</p>
                </div>
                <div class="contact-form-action">
                  <form method="post">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="input-box">
                          <label class="label-text">إسم صاحب التحويل</label>
                          <div class="form-group">
                            <span class="la la-user form-icon"></span>
                            <input
                              class="form-control"
                              type="text"
                              name="transfer_owner_name"
                              placeholder="إسم صاحب التحويل"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="input-box">
                          <label class="label-text">رقم الحواله</label>
                          <div class="form-group">
                            <span class="la la-hashtag form-icon"></span>
                            <input
                              class="form-control"
                              type="text"
                              name="transfer_number"
                              placeholder="رقم الحواله"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="input-box">
                          <div class="form-group">
                            <div class="custom-checkbox">
                              <input
                                type="checkbox"
                                class="form-check-input"
                                id="agreechb"
                                required
                              />
                              <label for="agreechb">
                                بالموافقة، فإنك توافق على
                                <a href="#">البنود والشروط</a>.
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="btn-box">
                          <button class="theme-btn" type="submit">تأكيد الحجز</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Booking Summary -->
          <div class="form-box booking-detail-form">
            <div class="form-title-wrap">
              <h3 class="title">حجزك</h3>
            </div>
            <!-- end form-title-wrap -->
            <div class="form-content">
              <div class="card-item shadow-none radius-none mb-0">
                <div class="card-img pb-4">
                  <a href="room-details.html" class="d-block">
                    <img src="images/img5.jpg" alt="room-img">
                  </a>
                </div>
                <div class="card-body p-0">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h3 class="card-title">
                        غرفة بريميوم مطلة على البحيرة
                      </h3>
                      <p class="card-meta">فندق ماريانا ، المكسيك</p>
                    </div>
                    <div>
                      <a href="room-details.html" class="btn ms-1"><i class="la la-edit" data-bs-toggle="tooltip" data-placement="top" aria-label="تعديل" data-bs-original-title="تعديل"></i></a>
                    </div>
                  </div>
                  <div class="section-block"></div>
                  <ul class="list-items list-items-2 list--items-2 py-2">
                    <li class="font-size-15">
                      <span class="w-auto d-block mb-n1"><i class="la la-calendar me-1 font-size-17"></i>من
                        عند</span>12 مايو 2020 7:40 صباحًا
                    </li>
                    <li class="font-size-15">
                      <span class="w-auto d-block mb-n1"><i class="la la-calendar me-1 font-size-17"></i>إلى</span>16 مايو 2020 8:40 صباحًا
                    </li>
                  </ul>
                  <h3 class="card-title pb-3">تفاصيل الطلب</h3>
                  <div class="section-block"></div>
                  <ul class="list-items list-items-2 py-3">
                    <li><span>نوع الغرفة:</span>فخم. ترف</li>
                    <li><span>ليل:</span>1</li>
                    <li><span>غرفة:</span>1</li>
                    <li><span>ضيوف:</span>2 الكبار</li>
                    <li>
                      <span>خدمات إضافية:</span>التنظيف ، الغسيل ، الإفطار
                    </li>
                  </ul>
                  <div class="section-block"></div>
                  <ul class="list-items list-items-2 pt-3">
                    <li><span>المجموع الفرعي:</span>$240</li>
                    <li><span>الضرائب والرسوم:</span>$5</li>
                    <li><span>السعر الكلي:</span>$245</li>
                  </ul>
                </div>
              </div>
              <!-- end card-item -->
            </div>
            <!-- end form-content -->
          </div>
          <!-- end form-box -->
        </div>
      </div>
  </div>
</section>

{% endblock content %}
