{% extends "frontend/layout/master.html" %}

{% block content %}

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-10">
  <div class="breadcrumb-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <div class="section-heading">
              <h2 class="sec__title text-white">الدفع</h2>
            </div>
            <span class="arrow-blink">
              <i class="la la-arrow-down"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bread-svg-box">
    <svg
      class="bread-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 10"
      preserveAspectRatio="none"
    >
      <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
    </svg>
  </div>
</section>
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
    START BOOKING AREA
================================= -->
<section class="booking-area padding-top-100px padding-bottom-70px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">معلومات الدفع</h3>
          </div>
          <div class="form-content">
            {% if payment_methods %}
            <div class="section-tab check-mark-tab text-center pb-4">
              <ul class="nav nav-tabs justify-content-center" id="paymentTabs" role="tablist">
                {% for method in payment_methods %}
                <li class="nav-item" role="presentation">
                  <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ method.id }}-tab" data-bs-toggle="tab" href="#content-{{ method.id }}" role="tab" aria-controls="content-{{ method.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                    <i class="la la-check icon-element"></i>
                    <img src="{{ method.payment_option.logo.url }}" width="100" height="80" alt="{{ method.payment_option.method_name }}" />
                    <span class="d-block pt-2">{{ method.payment_option.method_name }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="tab-content">
              {% for method in payment_methods %}
              <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="content-{{ method.id }}" role="tabpanel" aria-labelledby="tab-{{ method.id }}-tab">
                <div class="payment-details mb-3">
                  <p class="mb-1"><strong>اسم الحساب:</strong> {{ method.account_name }}</p>
                  <p class="mb-1"><strong>رقم الحساب:</strong> {{ method.account_number }}</p>
                  <p class="mb-1"><strong>رقم الآيبان:</strong> {{ method.iban }}</p>
                  <p class="mb-0"><strong>تعليمات الدفع:</strong> {{ method.description }}</p>
                </div>
                <div class="contact-form-action">
                  <form action="{% url 'payments:payment_complete' hotel.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="payment_method" value="{{ method.id }}">
                   <input type="hidden" name="hotel_id" value="{{ hotel.id }}">  
                    
                     {% for item in cart_items %}
                         <input type="hidden" name="room_id[]" value="{{ item.room_type.id }}">
                        <input type="hidden" name="check_in_date[]" value="{{ item.check_in_date|date:'Y-m-d H:i' }}">
                        <input type="hidden" name="check_out_date[]" value="{{ item.check_out_date|date:'Y-m-d H:i' }}">
                        <input type="hidden" name="item_total_price[]" value="{{ item.Total_price }}">
                    {% endfor %}

                    <div class="row">
                       <div class="col-lg-6">
                        <div class="input-box">
                          <label class="label-text">تاريخ تسجيل الدخول</label>
                          <div class="form-group">
                            <span class="la la-calendar form-icon"></span>
                            <input
                              class="form-control"
                              type="text"
                              value="{{ check_in_display }}"
                              readonly
                              style="background-color: #f9f9f9; direction: rtl;"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="input-box">
                          <label class="label-text">تاريخ تسجيل الخروج</label>
                          <div class="form-group">
                            <span class="la la-calendar form-icon"></span>
                            <input
                              class="form-control"
                              type="text"
                              value="{{ check_out_display }}"
                              readonly
                              style="background-color: #f9f9f9; direction: rtl;"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="input-box">
                          <label class="label-text">إسم صاحب التحويل</label>
                          <div class="form-group">
                            <span class="la la-user form-icon"></span>
                            <input
                              class="form-control"
                              type="text"
                              name="transfer_owner_name"
                              placeholder="إسم صاحب التحويل"
                              required
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="input-box">
                          <label class="label-text">رقم الحواله</label>
                          <div class="form-group">
                            <span class="la la-hashtag form-icon"></span>
                            <input
                              class="form-control"
                              type="text"
                              name="transfer_number"
                              placeholder="رقم الحواله"
                              required
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="input-box">
                          <div class="form-group">
                            <div class="custom-checkbox">
                              <input
                                type="checkbox"
                                class="form-check-input"
                                id="agreechb"
                                required
                              />
                              <label for="agreechb">
                                بالموافقة، فإنك توافق على
                                <a href="#">البنود والشروط</a>.
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="btn-box">
                          <button type="submit" class="theme-btn">
                            تأكيد الدفع <i class="la la-arrow-left"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
              لا توجد طرق دفع متاحة لهذا الفندق.
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Booking Summary -->
        <div class="form-box booking-detail-form">
          <div class="form-title-wrap">
            <h3 class="title">ملخص الحجز</h3>
          </div>
          <div class="form-content">
            
            {% for item in cart_items %}
            <div class="card-item shadow-none radius-none mb-0">
              <div class="card-img pb-4">
                {% if item.room_type.images.first %}
                <img src="{{ item.room_type.images.first.image.url }}" alt="room-img" />
                {% endif %}
              </div>
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div>
                    <h3 class="card-title">{{ item.room_type.name }}</h3>
                    <p class="card-meta">{{ item.room_type.hotel.name }}</p>
                  </div>
                  <div>
                    <h3 class="card-title">{{ item.Total_price }} ريال</h3>
                    <p class="card-meta">ل {{item.quantity}}  غرف</p>
                  </div>
                </div>
                <div class="section-block"></div>
                <div class="list-items pt-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6>تاريخ الدخول:</h6>
                    <span class="text-black">{{ item.check_in_date|date:"Y-m-d" }}</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6>تاريخ الخروج:</h6>
                    <span class="text-black">{{ item.check_out_date|date:"Y-m-d" }}</span>
                  </div>
                </div>
              </div>
            </div>
             {% endfor %}
               <div class="section-block my-3"></div>
               <div class="d-flex justify-content-between align-items-center">
                    <h3>المجموع الكلي</h3>
                    <h3>{{ total_price }} ريال</h3>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
