{% extends "frontend/layout/master.html" %}

{% block content %}

<!-- ================================
START PACKAGE AREA
================================= -->
<section class="package-area section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2 class="sec__title line-height-50">
            حدد خطة التسعير التي تناسب احتياجاتك
          </h2>
        </div>
        <!-- end section-heading -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row    -->
    <div class="row padding-top-80px">
      {% for plan in pricing_plans %}
      <div class="col-lg-4 p-0">
        <div class="package-card {% if plan.is_primary %}package-card-active{% endif %}">
          <div class="package-title">
            <h2 class="package__title">{{ plan.title }}</h2>
            <h3 class="package__price"><span>$</span>{{ plan.price }}</h3>
            <h5 class="package__month">{{ plan.duration }}</h5>
            <svg
              class="hero-svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 10"
              preserveAspectRatio="none"
            >
              <path d="M0 10 0 0 A 90 59, 0, 0, 0, 100 0 L 100 10 Z"></path>
            </svg>
          </div>
          <!-- end package-title -->
          <ul class="list-items">
            {% for feature in plan.get_features_list %}
            <li>{{ feature }}</li>
            {% endfor %}
          </ul>
          <div class="btn-box">
            <a href="{% url 'HotelManagement:add_request' %}" class="theme-btn {% if not plan.is_primary %}theme-btn-transparent{% endif %}">اختر خطة</a>
          </div>
        </div>
        <!-- end package-card -->
      </div>
      <!-- end col-lg-4 -->
      {% endfor %}
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- ================================
END PACKAGE AREA
================================= -->

{% endblock content %}