{% extends "admin/user_dashboard/index.html" %}  
{% load static %}
{% block content %}
<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 responsive-column--m">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">نتائج احصائيات</h3>
          </div>
          <div class="form-content">
            <canvas id="bar-chart"></canvas>
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-6 -->
      <div class="col-lg-6 responsive-column--m">
        <div class="form-box dashboard-card">
          <div class="form-title-wrap">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="title">إشعارات</h3>
              <button
                type="button"
                class="icon-element mark-as-read-btn ms-auto me-0"
                data-bs-toggle="tooltip"
                data-placement="left"
                title="اشر عليها بانها قرات"
              >
                <i class="la la-check-square"></i>
              </button>
            </div>
          </div>
          <div class="form-content p-0">
            <div class="list-group drop-reveal-list">
              <a
                href="#"
                class="list-group-item list-group-item-action border-top-0"
              >
                <div class="msg-body d-flex align-items-center">
                  <div class="icon-element flex-shrink-0 me-3 ms-0">
                    <i class="la la-bell"></i>
                  </div>
                  <div class="msg-content w-100">
                    <h3 class="title pb-1">رحلة جماعية - متوفرة</h3>
                    <p class="msg-text">قبل دقيقتين</p>
                  </div>
                  <span
                    class="icon-element mark-as-read-btn flex-shrink-0 ms-auto me-0"
                    data-bs-toggle="tooltip"
                    data-placement="left"
                    title="ضع إشارة مقروء"
                  >
                    <i class="la la-check-square"></i>
                  </span>
                </div>
                <!-- end msg-body -->
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="msg-body d-flex align-items-center">
                  <div class="icon-element bg-1 flex-shrink-0 me-3 ms-0">
                    <i class="la la-bell"></i>
                  </div>
                  <div class="msg-content w-100">
                    <h3 class="title pb-1">عرض خصم 50٪</h3>
                    <p class="msg-text">قبل دقيقتين</p>
                  </div>
                  <span
                    class="icon-element mark-as-read-btn flex-shrink-0 ms-auto me-0"
                    data-bs-toggle="tooltip"
                    data-placement="left"
                    title="ضع إشارة مقروء"
                  >
                    <i class="la la-check-square"></i>
                  </span>
                </div>
                <!-- end msg-body -->
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="msg-body d-flex align-items-center">
                  <div class="icon-element bg-2 flex-shrink-0 me-3 ms-0">
                    <i class="la la-check"></i>
                  </div>
                  <div class="msg-content w-100">
                    <h3 class="title pb-1">لقد تم إنشاء حسابك</h3>
                    <p class="msg-text">1 منذ يوم</p>
                  </div>
                  <span
                    class="icon-element mark-as-read-btn flex-shrink-0 ms-auto me-0"
                    data-bs-toggle="tooltip"
                    data-placement="left"
                    title="ضع إشارة مقروء"
                  >
                    <i class="la la-check-square"></i>
                  </span>
                </div>
                <!-- end msg-body -->
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="msg-body d-flex align-items-center">
                  <div class="icon-element bg-3 flex-shrink-0 me-3 ms-0">
                    <i class="la la-user"></i>
                  </div>
                  <div class="msg-content w-100">
                    <h3 class="title pb-1">تم تحديث حسابك</h3>
                    <p class="msg-text">قبل ساعتين</p>
                  </div>
                  <span
                    class="icon-element mark-as-read-btn flex-shrink-0 ms-auto me-0"
                    data-bs-toggle="tooltip"
                    data-placement="left"
                    title="ضع إشارة مقروء"
                  >
                    <i class="la la-check-square"></i>
                  </span>
                </div>
                <!-- end msg-body -->
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="msg-body d-flex align-items-center">
                  <div class="icon-element bg-4 flex-shrink-0 me-3 ms-0">
                    <i class="la la-lock"></i>
                  </div>
                  <div class="msg-content w-100">
                    <h3 class="title pb-1">تم تغيير كلمة المرور الخاصة بك</h3>
                    <p class="msg-text">في الامس</p>
                  </div>
                  <span
                    class="icon-element mark-as-read-btn flex-shrink-0 ms-auto me-0"
                    data-bs-toggle="tooltip"
                    data-placement="left"
                    title="ضع إشارة مقروء"
                  >
                    <i class="la la-check-square"></i>
                  </span>
                </div>
                <!-- end msg-body -->
              </a>
            </div>
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-6 -->
      <div class="col-lg-6 responsive-column--m">
        <div class="form-box dashboard-card">
          <div class="form-title-wrap">
            <h3 class="title">مهام</h3>
          </div>
          <div class="form-content">
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>تم إجراء حجزك
              <a href="#" class="alert-link"> من شيملا إلى غوا </a>!
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>أرسل بريدًا إلكترونيًا إلى
              <strong> dev@gmail.com </strong>
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>تم استلام بريد إلكتروني من
              <strong> tripstar@yahoo.com </strong>
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>دفعتك معلقة في جولة
              <a href="#" class="alert-link"> منالي </a>!
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>رد شخص ما على تعليقك على جولة
              <a href="#" class="alert-link"> رحلة لندن </a>!
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>لقد ألغيت
              <a href="#" class="alert-link"> رحلة دبي إلى لندن </a>
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="la la-check me-2"></i>لقد قدمت تعليقًا على
              <span class="شارة تحذير النص الأبيض"> 4.5 </span>
              <a href="#" class="alert-link"> EnVision Hotel Boston </a>
              <button
                type="button"
                class="btn-close close"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-6 -->
      <div class="col-lg-6 responsive-column--m">
        <div class="form-box dashboard-card order-card border-0">
          <div class="form-title-wrap">
            <h3 class="title">الطلب</h3>
          </div>
          <div class="form-content p-0">
            <div class="list-group drop-reveal-list">
              <div class="list-group-item list-group-item-action border-top-0">
                <div
                  class="msg-body d-flex align-items-center justify-content-between"
                >
                  <div class="msg-content">
                    <h3 class="title pb-2">
                      3 - ليلة الباهاما - ميامي ذهابا وإيابا
                    </h3>
                    <ul class="list-items d-flex align-items-center">
                      <li class="font-size-14 me-2">
                        <span
                          class="badge text-bg-success py-1 px-2 font-size-13 font-weight-medium"
                          >دفع</span
                        >
                      </li>
                      <li class="font-size-14 me-2">الطلب: # 232</li>
                      <li class="font-size-14">التاريخ: 11/05/2019</li>
                    </ul>
                  </div>
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent font-size-13"
                  >
                    عرض الفاتورة
                  </a>
                </div>
                <!-- end msg-body -->
              </div>
              <div class="list-group-item list-group-item-action">
                <div
                  class="msg-body d-flex align-items-center justify-content-between"
                >
                  <div class="msg-content">
                    <h3 class="title pb-2">كاليفورنيا الى نيويورك</h3>
                    <ul class="list-items d-flex align-items-center">
                      <li class="font-size-14 me-2">
                        <span
                          class="badge text-bg-danger py-1 px-2 font-size-13 font-weight-medium"
                          >غير مدفوعة</span
                        >
                      </li>
                      <li class="font-size-14 me-2">الطلب: # 232</li>
                      <li class="font-size-14">التاريخ: 11/05/2019</li>
                    </ul>
                  </div>
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent font-size-13"
                  >
                    إنهاء الدفع
                  </a>
                </div>
                <!-- end msg-body -->
              </div>
              <div class="list-group-item list-group-item-action">
                <div
                  class="msg-body d-flex align-items-center justify-content-between"
                >
                  <div class="msg-content">
                    <h3 class="title pb-2">جولة مشي لمدة ساعتين في مانهاتن</h3>
                    <ul class="list-items d-flex align-items-center">
                      <li class="font-size-14 me-2">
                        <span
                          class="badge text-bg-success py-1 px-2 font-size-13 font-weight-medium"
                          >دفع</span
                        >
                      </li>
                      <li class="font-size-14 me-2">الطلب: # 232</li>
                      <li class="font-size-14">التاريخ: 11/05/2019</li>
                    </ul>
                  </div>
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent font-size-13"
                  >
                    عرض الفاتورة
                  </a>
                </div>
                <!-- end msg-body -->
              </div>
              <div class="list-group-item list-group-item-action">
                <div
                  class="msg-body d-flex align-items-center justify-content-between"
                >
                  <div class="msg-content">
                    <h3 class="title pb-2">من دبي إلى إسبانيا</h3>
                    <ul class="list-items d-flex align-items-center">
                      <li class="font-size-14 me-2">
                        <span
                          class="badge text-bg-success py-1 px-2 font-size-13 font-weight-medium"
                          >دفع</span
                        >
                      </li>
                      <li class="font-size-14 me-2">الطلب: # 232</li>
                      <li class="font-size-14">التاريخ: 11/05/2019</li>
                    </ul>
                  </div>
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent font-size-13"
                  >
                    عرض الفاتورة
                  </a>
                </div>
                <!-- end msg-body -->
              </div>
              <div class="list-group-item list-group-item-action">
                <div
                  class="msg-body d-flex align-items-center justify-content-between"
                >
                  <div class="msg-content">
                    <h3 class="title pb-2">فيلات باريان هوليداي</h3>
                    <ul class="list-items d-flex align-items-center">
                      <li class="font-size-14 me-2">
                        <span
                          class="badge text-bg-success py-1 px-2 font-size-13 font-weight-medium"
                          >دفع</span
                        >
                      </li>
                      <li class="font-size-14 me-2">الطلب: # 232</li>
                      <li class="font-size-14">التاريخ: 11/05/2019</li>
                    </ul>
                  </div>
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent font-size-13"
                  >
                    عرض الفاتورة
                  </a>
                </div>
                <!-- end msg-body -->
              </div>
              <div class="list-group-item list-group-item-action">
                <div
                  class="msg-body d-flex align-items-center justify-content-between"
                >
                  <div class="msg-content">
                    <h3 class="title pb-2">فندق ليك بالاس</h3>
                    <ul class="list-items d-flex align-items-center">
                      <li class="font-size-14 me-2">
                        <span
                          class="badge text-bg-success py-1 px-2 font-size-13 font-weight-medium"
                          >دفع</span
                        >
                      </li>
                      <li class="font-size-14 me-2">الطلب: # 232</li>
                      <li class="font-size-14">التاريخ: 11/05/2019</li>
                    </ul>
                  </div>
                  <a
                    href="#"
                    class="theme-btn theme-btn-small theme-btn-transparent font-size-13"
                  >
                    عرض الفاتورة
                  </a>
                </div>
                <!-- end msg-body -->
              </div>
            </div>
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-6 -->
    </div>
    <!-- end row -->
    <div class="border-top mt-4"></div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="copy-right padding-top-30px">
          <p class="copy__desc">
            &copy; Copyright TeamSoft 2025. Made with
            <span class="la la-heart"></span> by
            <a href="https://ahmed-div.netlify.app">TeamSoft</a>
          </p>
        </div>
        <!-- end copy-right -->
      </div>
      <!-- end col-lg-7 -->
      <div class="col-lg-5">
        <div class="footer-social-box text-end padding-top-30px">
          <ul class="social-profile">
            <li>
              <a href="#"><i class="lab la-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <!-- end footer-social-box -->
      </div>
      <!-- end col-lg-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
{% endblock content %}
