{% extends "admin/user_dashboard/index.html" %}
{% load static %}
{% block section_title %} الحجوزات الخاصة بي {% endblock section_title %}
{% block path_title %} الحجوزات {% endblock path_title %}
{% block content %}
<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-box">
          <div class="form-title-wrap">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h3 class="title">نتائج الحجز</h3>
                <p class="font-size-14">
                  إظهار 1 إلى {{ bookings_with_location|length }} من أصل {{ bookings_with_location|length }} مُدخل
                </p>
              </div>
              <span>
                إجمالي الحجوزات
                <strong class="color-text">({{ bookings_with_location|length }})</strong>
              </span>
            </div>
          </div>
          <div class="form-content">
            <div class="table-form table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">فندق</th>
                    <th scope="col">عنوان</th>
                    <th scope="col">الموقع</th>
                    <th scope="col">تاريخ الطلب</th>
                    <th scope="col">تاريخ التنفيذ</th>
                    <th scope="col">السعر</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">عمل</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in bookings_with_location %}
                    <tr>
                      <th scope="row">
                        <i class="la la-hotel me-1 font-size-18"></i>{{ item.booking.room }}
                      </th>
                      <td>
                        <div class="table-content">
                          <h3 class="title">{{ item.city_name }}</h3>
                        </div>
                      </td>
                      <td>{{ item.hotel_location }}</td>
                      <td>{{ item.booking.check_in_date|date:"d/m/Y" }}</td>
                      <td>{{ item.booking.check_out_date|date:"d/m/Y" }}</td>
                      <td>{{ item.booking.amount }}</td>
                      <td>
                        {% if item.booking.status == '0' %}
                        <span class="badge text-bg-warning py-1 px-2">
                         قيد الانتظار
                        </span>
                        {% elif item.booking.status == '1' %}
                        <span class="badge text-bg-info py-1 px-2">
                          مؤكد
                        </span>
                        
                        {% else %}
                        <span class="badge text-bg-danger py-1 px-2">
                          ملغي
                        </span>

                        {% endif %}
                      </td>
                      <td>
                        <div class="table-content">
                          <a href="{% url 'customer:cancel_booking' item.booking.id %}" class="theme-btn theme-btn-small">إلغاء</a>
                        </div>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="8" class="text-center">لا توجد حجوزات بعد.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link page-link-nav" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="la la-angle-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link page-link-nav" href="#">1</a>
            </li>
            <li class="page-item active">
              <a class="page-link page-link-nav" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
              <a class="page-link page-link-nav" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link page-link-nav" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="la la-angle-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
