{% extends "admin/user_dashboard/index.html" %}
{% load static %}
{% block section_title %}wishlist {% endblock section_title %}
{% block path_title %} wishlist {%endblock path_title %}
{% block content %}
<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">قائمة الرغبات</h3>
            <p class="font-size-14">عرض 1-6 من 28 نتيجة</p>
          </div>
          <div class="form-content pt-5 pb-0">
            <div class="row">
              {% for favourite in favourites %}
              <div class="col-lg-4 responsive-column">
                <div class="card-item">
                  <div class="card-img">
                    <a href="hotel-single.html" class="d-block">
                      <img src="images/img1.jpg" alt="hotel-img" />
                    </a>
                    <span class="badge">الأكثر مبيعا</span>
                    <div class="add-to-wishlist icon-element"
                        data-bs-toggle="tooltip"
                        data-placement="top"
                        title="إزالة">
                        <!-- رابط حذف المفضلة -->
                        <a href="{% url 'customer:remove_favourite' favourite.id %}" class="remove-favourite-btn">
                          <i class="la la-heart"></i>
                      </a>
                      
                    </div>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">
                      <a href="hotel-single.html">ميلينيوم هيلتون نيويورك</a>
                    </h3>
                    <p class="card-meta">124 شارع لافيستا ، نيويورك</p>
                    <div class="card-rating">
                      <span class="badge text-white">4.4/5</span>
                      <span class="review__text">معدل</span>
                      <span class="rating__text">(30 التعليقات)</span>
                    </div>
                    <div class="card-price d-flex align-items-center justify-content-between">
                      <p>
                        <span class="price__from">من عند</span>
                        <span class="price__num">$88.00</span>
                        <span class="price__text">لليلة الواحدة</span>
                      </p>
                      <a href="hotel-single.html" class="btn-text">انظر التفاصيل<i class="la la-angle-right"></i></a>
                    </div>
                  </div>
                </div>
                <!-- end card-item -->
              </div>
              <!-- end col-lg-4 -->
              {% endfor %}
            </div>
            <!-- end row -->
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-12 -->
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if favourites.has_previous %}
              <li class="page-item">
                <a class="page-link page-link-nav" href="?page=1" aria-label="First">
                  <span aria-hidden="true"><i class="la la-angle-double-left"></i></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link page-link-nav" href="?page={{ favourites.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true"><i class="la la-angle-left"></i></span>
                </a>
              </li>
            {% endif %}
    
            {% for num in favourites.paginator.page_range %}
              <li class="page-item {% if favourites.number == num %} active {% endif %}">
                <a class="page-link page-link-nav" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endfor %}
    
            {% if favourites.has_next %}
              <li class="page-item">
                <a class="page-link page-link-nav" href="?page={{ favourites.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true"><i class="la la-angle-right"></i></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link page-link-nav" href="?page={{ favourites.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true"><i class="la la-angle-double-right"></i></span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    
    <!-- end row -->
    <div class="border-top mt-5"></div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="copy-right padding-top-30px">
          <p class="copy__desc">
            &copy; Copyright TeamSoft 2025. Made with
            <span class="la la-heart"></span> by
            <a href="https://ahmed-div.netlify.app">TeamSoft</a>
          </p>
        </div>
        <!-- end copy-right -->
      </div>
      <!-- end col-lg-7 -->
      <div class="col-lg-5">
        <div class="footer-social-box text-end padding-top-30px">
          <ul class="social-profile">
            <li>
              <a href="#"><i class="lab la-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <!-- end copy-right-content -->
      </div>
      <!-- end col-lg-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).on('click', '.remove-favourite-btn', function (e) {
    e.preventDefault();
    var url = $(this).attr('href');
    
    $.ajax({
        url: url,
        type: 'GET',
        success: function (response) {
            if (response.success) {
                alert('تم الحذف بنجاح');
                location.reload();
            }
        },
        error: function () {
            alert('حدث خطأ أثناء الحذف');
        }
    });
});
</script>
{% endblock %}
