{% extends "admin/user_dashboard/index.html" %}
{% load static %}
{% block section_title %} settings {% endblock section_title %}
{% block path_title %} settings {%endblock path_title %}
{% block content %}

<style>
  .alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.alert-info {
    background-color: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}

</style>
<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-box">
            <div class="form-title-wrap">
                <h3 class="title">معلومات شخصية</h3>
            </div>
            <!-- Main form for other details -->
            <div class="contact-form-action">
                <form method="POST" enctype="multipart/form-data"> <!-- تأكد من تضمين enctype هنا -->
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-content">
                            <div class="user-profile-action d-flex align-items-center pb-4">
                                <div class="user-pro-img">
                                    <img id="profile-image" src="{{ user.image.url }}" alt="User Image">
                                </div>
                                <div class="upload-btn-box">
                                    <p class="pb-2 font-size-15 line-height-24">
                                        الحد الأقصى لحجم الملف هو 5 ميجا بايت ، والحد الأدنى للأبعاد: 150 × 150 والملفات المناسبة هي .jpg &amp; .بي إن جي
                                    </p>
    
                                    <div class="d-flex align-items-center">
                                        <!-- Image file input -->
                                        <input
                                            type="file"
                                            name="image"
                                            class="filer_input"
                                            multiple="multiple"
                                            id="image-input"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 responsive-column">
                            <div class="input-box">
                                <label class="label-text">الاسم الاول</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>
                                    <input class="form-control" type="text" name="first_name" value="{{ form.first_name.value }}" />
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 responsive-column">
                            <div class="input-box">
                                <label class="label-text">الكنية</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>
                                    <input class="form-control" type="text" name="last_name" value="{{ form.last_name.value }}" />
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 responsive-column">
                            <div class="input-box">
                                <label class="label-text">رقم الهاتف</label>
                                <div class="form-group">
                                    <span class="la la-phone form-icon"></span>
                                    <input class="form-control" type="text" name="phone" value="{{ form.phone.value }}" />
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 responsive-column">
                            <div class="input-box">
                                <label class="label-text">تاريخ الولادة</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>
                                    <input class="form-control" type="date" name="date_of_birth" value="{{ form.date_of_birth.value }}" />
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-6 responsive-column">
                            <div class="input-box">
                                <label class="label-text">عنوان</label>
                                <div class="form-group">
                                    <span class="la la-map form-icon"></span>
                                    <input class="form-control" type="text" name="address" value="{{ form.address.value }}" />
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-12">
                            <div class="btn-box">
                                <button class="theme-btn" type="submit">حفظ التغييرات</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
      <!-- end col-lg-6 -->
      <div class="col-lg-6">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">تغيير الايميل</h3>
          </div>
          <div class="form-content">
            <div class="contact-form-action">
              <form action="{% url 'customer:user_dashboard_settings_email' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12 responsive-column">
                    <div class="input-box">
                      <label class="label-text">الايميل الحالي</label>
                      <div class="form-group">
                        <span class="la la-envelope form-icon"></span>
                        <input class="form-control" type="email" name="current_email" placeholder="الايميل الحالي" required />
                      </div>
                    </div>
                  </div>
      
                  <div class="col-lg-12 responsive-column">
                    <div class="input-box">
                      <label class="label-text">بريد إلكتروني جديد</label>
                      <div class="form-group">
                        <span class="la la-envelope form-icon"></span>
                        <input class="form-control" type="email" name="new_email" placeholder="بريد إلكتروني جديد" required />
                      </div>
                    </div>
                  </div>
      
                  <div class="col-lg-12 responsive-column">
                    <div class="input-box">
                      <label class="label-text">بريد إلكتروني جديد مرة أخرى</label>
                      <div class="form-group">
                        <span class="la la-envelope form-icon"></span>
                        <input class="form-control" type="email" name="confirm_email" placeholder="بريد إلكتروني جديد مرة أخرى" required />
                      </div>
                    </div>
                  </div>
      
                  <div class="col-lg-12">
                    <div class="btn-box">
                      <button class="theme-btn" type="submit">
                        تغيير الايميل
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <!-- end col-lg-6 -->
      <div class="col-lg-6">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title">غير كلمة السر</h3>
          </div>
          <div class="form-content">
            <div class="contact-form-action">
              <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">كلمة المرور الحالية</label>
                      <div class="form-group">
                        <span class="la la-lock form-icon"></span>
                        <input class="form-control" type="password" name="current_password" placeholder="كلمة المرور الحالية" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">كلمة سر جديدة</label>
                      <div class="form-group">
                        <span class="la la-lock form-icon"></span>
                        <input class="form-control" type="password" name="new_password" placeholder="كلمة سر جديدة" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 responsive-column">
                    <div class="input-box">
                      <label class="label-text">كلمة المرور الجديدة مرة أخرى</label>
                      <div class="form-group">
                        <span class="la la-lock form-icon"></span>
                        <input class="form-control" type="password" name="confirm_password" placeholder="كلمة المرور الجديدة مرة أخرى" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="btn-box">
                      <button class="theme-btn" type="submit">غير كلمة السر</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            {% if messages %}
              <div class="alert alert-info">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      
      <!-- end col-lg-6 -->
      <div class="col-lg-6">
        <div class="form-box">
          <div class="form-title-wrap">
            <h3 class="title pb-2">هل نسيت كلمة المرور</h3>
            <p class="font-size-15 line-height-24">
              أدخل البريد الإلكتروني لحسابك لإعادة تعيين كلمة المرور. ثم سوف
              تتلقى رابطًا إلى البريد الإلكتروني <br />
              لإعادة تعيين كلمة المرور. إذا كانت لديك أي مشكلة بشأن إعادة تعيين
              كلمة المرور ،
              <a href="contact.html" class="color-text"> فاتصل بنا </a>
            </p>
          </div>
          <div class="form-content">
            <div class="contact-form-action">
              <form action="#">
                <div class="input-box">
                  <label class="label-text">عنوان البريد الالكترونى</label>
                  <div class="form-group">
                    <span class="la la-envelope form-icon"></span>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="عنوان البريد الالكترونى"
                    />
                  </div>
                </div>
                <div class="btn-box">
                  <button class="theme-btn" type="button">
                    إستعادة كلمة المرور
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end form-box -->
      </div>
      <!-- end col-lg-6 -->
    </div>
    <!-- end row -->
    <div class="border-top mt-4"></div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="copy-right padding-top-30px">
          <p class="copy__desc">
            &copy; Copyright TeamSoft 2025. Made with
            <span class="la la-heart"></span> by
            <a href="https://ahmed-div.netlify.app">TeamSoft</a>
          </p>
        </div>
        <!-- end copy-right -->
      </div>
      <!-- end col-lg-7 -->
      <div class="col-lg-5">
        <div class="footer-social-box text-end padding-top-30px">
          <ul class="social-profile">
            <li>
              <a href="#"><i class="lab la-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="lab la-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <!-- end copy-right-content -->
      </div>
      <!-- end col-lg-5 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>

<script type="text/javascript">
  document.getElementById("image-input").addEventListener("change", function(event) {
    const reader = new FileReader();
    reader.onload = function(e) {
      const imgElement = document.getElementById("profile-image");
      imgElement.src = e.target.result;
    };
    reader.readAsDataURL(this.files[0]);
  });
</script>
{% endblock content %}