
{% extends "admin/layouts/master.html" %}

{% block title %}حذف المستخدم{% endblock %}

{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>حذف المستخدم</h1>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-body">
                    <p>هل أنت متأكد أنك تريد حذف المستخدم {{ user.username }}؟</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">نعم، احذف المستخدم</button>
                    </form>
                    <a href="{% url 'list_user' %}" class="btn btn-secondary">لا، العودة إلى قائمة المستخدمين</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}