{% extends "admin/layouts/master.html" %}

{% block content %}

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        <img src="assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>
<div class="card card-primary">
    <div class="card-header"><h4>Register</h4></div>

    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           
            <div class="row">
                <div class="form-group col-6">
                    <label for="frist_name"> hotel</label>
                    <select id="user_type" class="form-control" name="user_type">
                        {% for choice in form.fields.hotel.queryset %}
                        <option value="{{ choice.id }}">{{ choice.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="frist_name">room_type </label>
                    <select id="user_type" class="form-control" name="user_type">
                    {% for choice in form.fields.room_type.queryset %}
                    <option value="{{ choice.id }}">{{ choice.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group col-6">
                    <label for="image">Image</label>
                    <input id="image" type="file" class="form-control" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </div>
            </div>


        </form>
    </div>
</div>
<div class="simple-footer">
    Copyright &copy; Stisla 2018
</div>
 </div>

 <script>
    function togglePasswordVisibility(passwordFieldId) {
        const passwordInput = document.getElementById(passwordFieldId);
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
    }
</script>
</section>
{% endblock content %}