{%load static%}

<script src="{% static 'admin_assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{%static 'admin_assets/libs/%40popperjs/core/umd/popper.min.js'%}"></script>
<script src="{%static 'admin_assets/libs/tippy.js/tippy-bundle.umd.min.js' %}"></script>
<script src="{%static 'admin_assets/libs/simplebar/simplebar.min.js'%}"></script>
<script src="{%static 'admin_assets/libs/prismjs/prism.js'%}"></script>
<script src="{%static 'admin_assets/libs/lucide/umd/lucide.js'%}"></script>
<script src="{%static 'admin_assets/js/starcode.bundle.js' %}"></script>
<script src="{%static 'admin_assets/js/pages/auth-register.init.js'%}"></script>
